/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
  --jazz1: #2a7e90;
  --jazz2: #165120;
  --jazz3: #031138;
  --jazz4: #013c40;
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background: var(--rainbow);
  border-radius: 50%;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    box-shadow: -50rem 0 0 #165120, 5rem 0 0 #2a7e90;
    transform: rotate(0deg);
  }

  25% {
    box-shadow: -5rem 0 0 #165120, 5rem 0 0 #2a7e90;
  }

  50% {
    box-shadow: -5rem 0 0 #165120, 50rem 0 0 #2a7e90;
  }

  75% {
    box-shadow: -5rem 0 0 #165120, 5rem 0 0 #2a7e90;
  }

  100% {
    box-shadow: -50rem 0 0 #165120, 5rem 0 0 #2a7e90;
    transform: rotate(360deg);
  }
}